<div class="row">
    <div class="col-md-12">
  
      <h2>Login To Github</h2>
  
        <div class="row">&nbsp;</div>
  
        <form>
          <div class="form-group">
            <input type="email" class="form-control" [(ngModel)] ="loginForm.username" name="username" placeholder="Username" required>
          </div>
          <div class="form-group">
              <input type="password" class="form-control" [(ngModel)] ="loginForm.password" name="password" placeholder="Password" required>
          </div>
          
          <button type="button" [disabled]="processing" class="btn btn-primary" (click)="login(loginForm)">
            {{(processing)? 'Logging In...' : 'Login'}}
          </button>
        </form>
  
    </div>
    
  
  </div>