<div class="row">
  <div class="col-md-12">

    <h2>Create Gist</h2>

      <div class="row">&nbsp;</div>

      <form>
        <div class="form-group">
          <input type="text" class="form-control" [(ngModel)] ="gistForm.description" name="description" placeholder="Gist Description" required>
        </div>
        <div class="form-group">
            <input type="text" class="form-control" [(ngModel)] ="gistForm.filename" name="filename" placeholder="File Name" required>
        </div>
        <div class="form-group">
          <textarea rows="4" cols="100" [(ngModel)] ="gistForm.content" name="content" placeholder="File Contents" required></textarea>
        </div>
        
        <button type="button" [disabled]="processing" class="btn btn-primary" (click)="createGist(gistForm)">
          {{(processing)? 'Creating Gist...' : 'Create Gist'}}
        </button>
      </form>

  </div>
  

</div>